@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Libre+Caslon+Text:wght@700&family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@200;400&family=Raleway:wght@100&family=Roboto:wght@100&family=ZCOOL+QingKe+HuangYou&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Oswald', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
